# Server port
SERVER_PORT=9999

# File storage directory
FILES_DIR=./files

# Static file path
STATIC_FILES_SERVE_PATH=/files

# Enable or disable static file serving
IS_SERVE_STATIC_FILES=true

# API key protection
API_KEY_ENABLED=true
API_KEY_HEADER=X-API-Key
API_KEY=high_secure_key_here

# Memory used by ParseMultipartForm before spilling to temp files
MAX_UPLOAD_MEMORY_MB=32
